// Custom theme styles go here

.container-fluid {
	max-width: 1400px;
}

/* HEADER */
#header {
	padding: 10px 0;
	color: #fff;
	background: #000;
	.custom-logo-link {
		img {
			max-height: 130px;
			width: auto;
		}
	}
}

/* NAVIGATION */
#main-menu {
	width: 100%;
	text-align: center;
}

.navbar-dark .navbar-nav .nav-link:hover, 
.navbar-dark .navbar-nav .nav-link:focus {
	background-color: $red;
}


/* PAGE CONTENT */

.hero-image {
	height: 380px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	.container, .container-fluid {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
	}
	h1 {
		color: #fff;
	}
}


/* FOOTER */

#wrapper-footer-full {
	background: $maroon;
	color: #fff;
	a {
		color: #fff;
	}
}

#wrapper-footer {
	background-color: #000;
	color: #fff;
}